.home-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(120deg, #f3f4f6, #1a315f);
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.carousel-container {
  position: relative;
  width: 80%;
  max-width: 800px;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  flex: 0 0 100%;
  text-align: center;
}

.carousel-slide:hover {
  transform: scale(1.2);
  z-index: 20;
  cursor: pointer;
}

.carousel-slide h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

.carousel-slide p {
  font-size: 20px;
  color: #000000;
  font-style: italic;
}

.button {
  margin-top: 20px;
  padding: 15px 25px;
  background-color: #00254a;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}
